%footer
  .c-fs.footer
    .c-fg
      .row
        .footer__logo
          %img{:alt => "parliament.uk", :src => "../images/parliament-uk--darkgrey.png", :srcset => "../images/parliament-uk--darkgrey.svg"}/
        %ul.footer__list
          %li
            Parliament.uk
            %a{:href => "#"}= t('digital_blog')
          %li
            = t('visit')
            %a{:href => "#"} current parliament.uk
            = t('website')
          %li
            %a{:href => "#"}= t('cookie_policy')
